<div class="container">
  <div class="notification">
    <a (click)="toggleWebModal()" class="button is-primary">+ add website</a>

  </div>
</div>

<div class="container is-fluid">
  <div class="notification">
    <div>
      <span *ngFor="let website of websites" class="tag is-medium {{website.processed ? 'is-success' : 'is-warning'}}">
        <a (click)="navigateTo(website.id);"> {{website.url}} </a>
        <button class="delete"></button>
      </span>      
    </div>
  </div>
</div>

<div class="{{isAddingWebsite ? 'modal is-active' : 'modal'}}">
  <div (click)="toggleWebModal()" class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add website</p>
    </header>
    <section class="modal-card-body">
      <input [(ngModel)]="url" type="text" class="input is-medium" placeholder="URL">
    </section>
    <footer class="modal-card-foot">
      <a (click)="saveWebsite()" class="button is-success">Save changes</a>
      <a (click)="toggleWebModal()" class="button">Cancel</a>
    </footer>
  </div>
</div>